 /*******************TAG SELECTORS********************/
 body {
   background-color: #f2f2f3;
   color: #000;
   font-family: 'Merriweather', serif;
   min-height: 100vh;
   font-size: 16px;
   text-align: left;
 }


 h1 {
   font-size: 2.5vw;
   font-weight: 700;
   scroll-margin-top: 100px;
 }

 h2 {
   text-align: center;
   font-size: 2vw;
   font-weight: 700;
   padding-top: 1.5rem;
   scroll-margin-top: 100px;
 }

 h3 {
   font-size: 1.5vw;
   font-weight: 700;
   margin-top: 1rem;
   text-align: center;
   scroll-margin-top: 100px;
 }

 /* h4 {
  font-size: 1.5vw;
  margin: 2% 0;
} */
 h5, h6 {
   font-size: 1rem;
   margin-top: 1rem;
 }

 a {
   text-decoration: none;
   color: #000;
 }

 a:hover {
   color: darkgrey;
 }

 /*******************team section a ********************/
 #dark a {
   color: darkgrey;
 }

 #dark a:hover {
   color: #fff;
 }

 #light a {
   color: darkgrey;
 }

 #light a:hover {
   color: #000;
 }

 #albers, #rosenhart,#melendez, #diNardo, #knoote, #indigenous-afro-rights, #business-and-human-rights, #environmental-law, #armed-groups, #land-restitution, #protection-human-rights-defenders, #strategic-advice  {
  scroll-margin-top: 90px;
   }


 /*******************sections********************/
 .dark-section {
   background-color: #00587a;
   color: #fff;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
 }

 .light-section {
   background-color: #fff;
   color: #000;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
 }

 .color-section {
   background-color: #008891;
   color: #fff;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
 }

 .con-transparent {
   border-style: solid;
   border-width: thin;
   border-color: #f5f4f4;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
 }

 .light-noShade {
   background-color: #fff;
   color: #000;
 }

 .dark-noShade {
   background-color: #00587a;
   color: #fff;
   padding-right: 0;
   padding-left: 0;
 }

 /*navbar*/
 .logo-md {
   display: none;
 }

 .nav {
   display: inline-block;
 }

 .navbar {
   padding: 0 0;
 }

 .navbar-toggler {
   margin-right: 5%;
 }

 .navbar-light .navbar-toggler {
   box-shadow: 0 0 0 0.02rem !important;
 }

 .nav-item {
   padding: 0 1%;
 }

 .nav-link {
   color: #fff;
 }

 .navbar .nav-item:hover .nav-link {
   color: darkgrey;
 }

 .nav-item {
   padding: 0 4%;
 }

 .dropdown-item.active, .dropdown-item:active {
   color: #fff;
   background-color: #000;
   padding-right: 5%;
 }

 .sticky-top {
   scroll-margin-top: 80px !important;
 }

 /*header section*/
 .img-row {
   padding-left: 0;
   padding-right: 0;
 }

 .main-image {
   position: relative;
   width: 100%;
 }

 .text-section {
   padding: 0 2%;
 }

 .main-heading {
   font-size: 2.5vw;
   line-height: 1.5;
   text-align: center;
   padding: 3% 1%;
 }

 #landing-pic .row {
   margin-left: 0;
   margin-right: 0;
 }

 /* Carousel base class */
 /* Since positioning the image, we need to help out the caption */
 .current-projects {
   margin-bottom: 1rem;
 }

 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }

 /* Declare heights because of positioning of img element */
 .carousel-item {
   height: 32rem;
 }

 .carousel-item>img {
   min-width: 30%;
   height: 15rem;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   float: right;
 }

 .carousel-inner .item img {
   width: 30%;
   object-fit: contain;
 }

 .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 /* .current-work-pic {
  width: 70% !important;
  position: relative;
  text-align: center;
} */
 /*areas of expertise*/
 a.card-body {
   color: #000;
 }

 a.card-body:hover {
   color: darkgrey;
   padding: 1rem 0;
 }

 .expertise {
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   padding-bottom: 1%;
 }

 .col-pad {
   padding-right: calc(var(--bs-gutter-x)/ 3);
   padding-left: calc(var(--bs-gutter-x)/ 3);
 }

 /*team section*/
 a.team-section {
   color: #fff;
 }

 a.team-section:hover {
   color: darkgrey;
 }

 .people-pic {
   text-align: center;
   padding: 1rem 1rem;
   width: 70%;
 }

 .main-div {
   text-align: center;
   position: relative;
 }

 .sub-div {
   position: absolute;
   bottom: 0px;
   text-align: center;
 }

 .title {
   font-size: 13px;
 }

 .top {
   scroll-margin-top: 80px;
 }

 /*contact section*/
 .contact {
   margin: 0;
   padding: 2rem;
 }

 .contact-title {
   margin-bottom: 2%;
 }

 .address-header {
   padding-top: 0;
 }

 .contact-address {
   text-align: center;
   position: relative;
 }

 .container-add {
   position: absolute;
   bottom: 40%;
 }

 .contact-map {
   text-align: center;
   padding: 1rem;
 }

 .map-container {
   width: 70%;
   position: relative;
 }

 .map-container iframe {
   width: 90%;
   position: absolute;
 }

 /*contact form details*/
 .contact-form.h3 {
   margin-top: 0;
 }

 .iframe {
   width: auto !important;
 }

 form {
   transition: all 4s ease-in-ease-out;
 }

 .submit {
   background-color: #008891;
   box-shadow: 0 10px 30px 0 rgb(0 136 145/10%);
   color: #fff;
 }

 form .submit:hover {
   background-color: #00587a;
   box-shadow: 0 10px 30px 0 rgb(0 136 145/10%);
   color: #fff;
 }

 /* Footer section*/
 .footer-icon {
   margin: 0 5px;
   color: #fff;
   font-size: 50px;
   text-align: center;
 }

 .footer {
   padding-top: 0;
   padding-bottom: 0;
 }

 .footer-contact {
   width: 100%;
   position: absolute;
   bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
 }

 /*******************ID SELECTORS********************/
 #extra-pad {
   padding: 1rem 2rem;
 }

 .message-mailer {
   padding: 1rem;
 }

 /*******************About us CSS********************/
 .extra-margin {
   margin-top: 2%;
   margin-bottom: 2%;
 }

 .left-aligned {
   text-align: left;
   /* padding-left: 0; */
 }

 .group-pic {
   width: 90%;
   padding-top: 2rem;
   display: block;
   margin: auto;
 }

 .extra {
   padding-bottom: 3%;
 }

 .about-us {
   padding: 1rem 1rem 2rem 2rem;
   text-align: left;
 }

 /*******************Our Team CSS********************/
 .lawyer-header {
   vertical-align: bottom;
   text-align: left;
   position: absolute;
   bottom: 0;
 }

 .bio-section {
   position: relative;
 }

 .bold {
   font-weight: bold;
 }

 .bio-text {
   padding: 1rem 1rem;
   text-align: left;
 }

 .bio-pic {
   text-align: center;
   padding: 2% 0;
 }

 .bio-intro {
   padding-top: 5%;
 }

 /*check whether necessary*/
 a.team-section {
   color: #000;
 }

 a.team-section:hover {
   color: darkgrey;
 }

 .list-aligned {
   padding-left: 2.5rem !important;
   padding-top: .5%;
 }

 /* dots on Our Team section */
 hr {
   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 }

 p.register {
   margin-top: 1%;
 }

 /*******************Our Work CSS********************/
 .our-work {
   padding: 1rem;
   text-align: left;
   position: relative;
 }

 .dots {
   font-size: 3em;
   margin-right: auto;
   margin-left: auto;
   padding-left: 40%;
   padding-right: 40%;
   color: lightgrey;
   text-align: center;
   bottom: 0;
   position: absolute;
 }

 div.sticky {
   position: sticky;
   top: 15%;
   border-radius: 2px;
   padding: 15px;
   background-color: #eeeeee;
   color: #000;
   float: left;
   text-align: center;
   display: flex;
   flex-direction: column;
   background-clip: border-box;
   border-radius: .25rem;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
 }

 .contact-main {
   padding: 1rem;
   background-color: #eeeeee;
   color: #000;
   text-align: center;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .375) !important;
   display: flex;
   flex-direction: column;
   background-clip: border-box;
   border-radius: .25rem;
 }

 .relative {
   padding: calc(var(--bs-gutter-x)/ 2);
   margin-top: var(--bs-gutter-y);
 }

 /*contact form as sticky div*/
 .custom {
   background-color: #eeeeee;
 }

 /*******************Projects CSS********************/
 .various-info {
   padding: 1rem;
   text-align: center;
 }

 .iframe-container {
   position: relative;
   width: 100%;
   padding-bottom: 70%;
   height: 0;
 }

 .iframe-container iframe {
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .aguaZarca-img {
   width: 100%;
 }

 .project-pad {
   padding: 1rem;
 }

 .top-container {
   position: relative;
 }

 .bottom-container {
   position: absolute;
 }

 /*******************News CSS********************/
.press {
  font-weight: bold;
  }

 .twitter-feed {
   width: 85%;
   text-align: center;
 }

 .news {
   padding-left: 5%;
 }

 .twitter {
   text-align: left;
 }

 /*******************Funding CSS********************/
 .funding {
   text-align: center;
 }

 .funding-top {
   position: relative;
 }

 .funding-bottom {
   position: absolute;
   bottom: 0;
 }

 /*******************MEDIA SELECTORS********************/
 /*for larger pads @media screen and (max-width: 1025px) */
 /* for large screens */
 @media screen and (min-width: 1251px) {
   body {
     font-size: 1vw;
   }

   h2 {
     font-size: 1.5vw;
   }

   h3 {
     font-size: 1vw;
   }

   h4 {
     padding-top: 1rem;
   }

   .text-section {
     padding: 1%;
   }

   .btn.btn-dark.lg-small {
     padding: 12px 0;
   }

   .bio-text {
     padding: 0;
     margin: 0;
   }

   #expertise-intro .row {
     --bs-gutter-x: 1rem;
     margin-right: 0;
     margin-left: 0;
   }
 }

 /*for laptops*/
 @media screen and (max-width: 1250px) {
   .logo-lg {
     display: none;
   }

   .logo-md {
     display: block;
     width: 75%;
   }

   .nav-item {
     padding: 0 3%;
   }

   .main-image {
     width: 100%;
   }

   .text-section {
     padding: 2% 2%;
   }

   /* .btn.btn-dark.small {
        padding: 12px 0;
      } */
   .bio-text {
     padding: 0;
     margin: 0;
   }

   #expertise-intro .col-lg-3 {
     /* width: 23%; */
     flex: auto;
   }

   #expertise-intro .row {
     --bs-gutter-x: 1rem;
     margin-right: 0;
     margin-left: 0;
   }
 }

 /*for ipad pros size*/
 @media screen and (min-width: 1024px) {
   .nav-item {
     padding: 0 1%;
   }

/*.sub-div {
  bottom: 1.rem
}
 }

 /*for tablets*/
 @media screen /*and (min-width: 576px)*/ and (max-width: 768px) {
   body {
     font-size: 2.5vw;
   }

   h1 {
     font-size: 4vw;
   }

   h2 {
     font-size: 3.5vw;
   }

   h3 {
     font-size: 3vw;
   }

   h4, h5, h6 {
     font-size: 2.5vw;
   }

   .main-image {
     width: 100%;
   }

   .logo-md {
     padding-left: 7%;
   }

   .main-heading {
     font-size: 3.5vw;
   }

   .mission-heading {
     font-size: 6.5vw;
   }

   .bio-text {
     padding: 0;
     margin: 0;
   }

   bd-placeholder-img-lg {
     font-size: 3.5rem;
   }

   #intro {
     font-size: 3vw;
   }
 }

 @media screen and (max-width: 576px) {
   body {
     font-size: 3.5vw;
     text-align: center;
   }

   #intro {
     font-size: 3.5vw;
   }

   h1 {
     font-size: 5vw;
   }

   h2 {
     font-size: 4.5vw;
   }

   h3 {
     font-size: 4vw;
   }

   h4 {
     text-align: center;
     font-size: 3.5vw;
   }

   h6 {
     text-align: center;
     font-size: 3vw;
   }

   .logo-md {
     display: block;
     width: 50%;
     text-align: left;
     padding-left: 3%;
   }

   .navbar-toggler-icon {
     width: 1.25em;
     height: 1.25em;
   }

   .main-heading {
     font-size: 4.5vw;
   }

   .btn.btn-dark.small {
     padding: 0 0;
   }

   .lawyer-header {
     position: relative;
   }

   .bio-text {
     padding: 1rem 1rem;
     margin: auto 2rem;
   }

   .left {
     text-align: left;
   }

  .sub-div {
     bottom: 0px;
     text-align: center;
     position: relative;
   }

   .dropdown-menu {
     text-align: center;
     background-color: #f6f6f6;
     border: transparent;
     font-size: 4vw;
   }
 }
