 /*******************TAG SELECTORS********************/

body {
  background-color: #e7e7de;
  color: #0f3057;
font-family: 'Merriweather', serif;
  min-height: 100vh;
  font-size: 16px;
  text-align: left;

}

h1 {
  font-size: 2.5vw;
  font-weight: 700;
}

h2,h3,h4,h5,h6 {
  font-size: 18px;
}

 /*******************sections********************/

 .colour-section {
   background-color: #00587a;
   color: #fff;
 }
/*navbar*/
.bg-dark {
  background-color: #0f3057 !important;
}

.container-fluid.navigation{
  padding: 0;
  }

.navbar-brand {
  padding-left: 5%;
}

.nav-link {
  color:#fff;
}

.nav-item {
  padding: 0 18px;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #0f3057;
}

  .main-image {
position: relative;
 width: 100%
}

.text-section {
  margin: 8%  ;
}

.text {
  margin-top: 5%;

}

.mission-heading {
  font-size: 3.5vw;
  line-height: 1.5;
  text-align: center;
}

/* .mission {
  margin: 50px;
  font-size: 2rem;
} */

.light-section {
  background-color: #e7e7de;
  color: #0f3057;
}

.contact-details {
  background-color: #008891;
  color: #fff;
}


/*******************ID SELECTORS********************/


/*******************MEDIA SELECTORS********************/
 /* for phones @media (max-width: 480px) */


/*for tablets*/
@media (max-width: 768px) {
body {
  font-size: 3vw;
}

.main-image {
width: 100%;
}

.mission-heading {
  font-size: 6.5vw;
}
}

/*for laptops*/
 @media (max-width: 1250px) {
  .main-image{
    width: 100%;
      }

  }

/* for large screens */
@media (min-width: 1250px) {
  body {
    font-size: 1vw;
  }
}
